@font-face {
  font-family: BebasNeue-Regular;
  src: url('../fonts/BebasNeue-Regular.ttf');
}


html,
body {
  height: 100%;
  font-family: BebasNeue-Regular!important;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 5px 25px 0px black;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn1 {
  border-radius: 50px!important;
  width: 13%;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 120px;
  font-size: 20px!important;
  background: linear-gradient(90deg, rgba(4,190,254,1) 0%, rgba(68,129,235,1) 100%);
  border-color: #4481eb!important;
  box-shadow: 0px 5px 15px 0px black;
  transition: 1s!important;
}

.btn1:hover {
  background: linear-gradient(90deg, #4481eb, #4481eb);
  width: 11%;
  margin-left: 6%;
  margin-right: 6%;
}
